body{
    background-color: rgb(250,249,246);
}
.home {
    background-image: url(./Penny-landingpage.png);
    display: flex;
    justify-content: flex-end;
    height: 100vh;
    color: rgb(250,249,246);  
}
header{
    background-color: rgb(169,176,203);
}
a{
    text-decoration: none;
}
   a:hover{
       color: rgb(153,103,103);
       font-weight: bold;
       
   }
   @media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        justify-content: flex-end;
    }
   }
  
   .bg-light {
    background-color: transparent !important;
}

.cardhome{
    background-color: rgba(238, 182, 180, 0.781);
    margin-top: 90px;
    margin-right: 90px;
    padding-top:30px;
    padding-left:20px;
    border-radius: 5px;
    text-align: center;
    height: 300px;

}

.card-img-top{
    width: 80%;
}
.btncotizacion {
    background-color: rgba(250,249, 246,0.6);
   color:rgb(153, 103, 103);
   padding:10px;
   margin-top: 50px;
   border-top: 20px;
   justify-content: center;

}
.card-title{
    margin-bottom: 2rem;
}

.navbar-light .navbar-nav .nav-link{
    color: rgb(250,249,246);
}
.navbar-light .navbar-nav .nav-link:hover{
    color: rgb(250,249,246);
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(250,249,246);
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link:hover {
    color: rgb(250,249,246);
}
.Copywriting .Trabajarconmigo{
    padding: 50px;
    align-items: center;
    justify-content: center;
}

.row.no-gutters{
    height: 100vh;
}
.card-img{
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.col-md-8{
    justify-content: center;
    padding: 30px;
    color:rgb(153,103,103);
}
.card {
    border: none;
    margin: 20px;
    background-color: transparent;
}

.servicios{
background-image: url(./Background.png);
    height: 100vh;
    color:rgb(250,249,246); 
    text-align: center; 
}
.servicios h2{
    padding-top: 10px;
}

 .card-deck-servicios{
display: flex;
flex-direction: row;
text-align: justify;
justify-content: space-around;
}

.cardservicios{
    background-color: rgb(250,249,246);
    color:rgb(153,103,103);
    margin: 30px;
    width: 25%;
}
.cardservicios img{
    margin-left: 30px;
    margin-top: 10px;
}

.container{
   background-color:rgba(169, 176, 203, 0.932);
   padding: 20px;
   color: rgb(250,249,246);
   height: 100vh;
   margin-bottom: 40px;
}
form{
   background-color:rgba(238, 182, 180, 0.712);
   padding: 30px;
   margin: 30px;
   
}
.informacioncontacto{
    color:rgb(250,249,246) ;
    text-align: justify;
    margin:30px;
}

.btn-primary {
   background-color:rgba(153,103,103,0.6) !important;
   color:rgb(250,249,246);
   border: 0px;
   margin-top: 5px;
}
.btn-primary:hover {
    color:rgb(250,249,246);
    font-weight: bold;
    background-color:rgba(153,103,103,0.6);
 }
 .informacioncontacto h5{
font-weight: normal;
}

.alert.alert-success{
    display: none;
}
.alert.alert-success.mostrar{
    display:block;
}
    